<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">
	<select id="selectOrderTotalList" resultMap="selectOrderTotal">
		SELECT TABLE_NO, SUM(PRICE) AS PRICE
		FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		GROUP BY TABLE_NO, J.TABLE_NO
		ORDER BY TABLE_NO
	</select>
	<resultMap type="Order" id="selectOrderTotal" >
		<id property="ORDER_NO" column="ORDER_NO"/>
		<result property="MENU" column="MENU"/>
		<result property="AMOUNT" column="AMOUNT"/>
		<result property="ORDER_DATE" column="ORDER_DATE"/>
		<result property="TABLE_NO" column="TABLE_NO"/>
		<result property="PAY_YN" column="PAY_YN"/>
		<result property="PRICE" column="PRICE"/>
	</resultMap>
	
	<select id="menuList" resultType="MENU">
		SELECT MENU, PRICE, CATEGORY
		FROM MENU
		WHERE MENU_YN = 'Y'
	</select>
	
	<select id="orderList" parameterType="string" resultMap="orderMenuList">
		SELECT ORDER_NO, AMOUNT, M.MENU, ORDER_DATE, TABLE_NO, PRICE
		FROM JUMUN J 
        LEFT JOIN MENU M ON (J.MENU = M.MENU)
		WHERE TABLE_NO = #{tableNo}  AND PAY_YN = 'N'
		
	</select>
	<resultMap type="OrderMenu" id="orderMenuList">
		<id property="ORDER_PRI" column="ORDER_PRI"/>
		<result property="ORDER_NO" column="ORDER_NO"/>
		<result property="AMOUNT" column="AMOUNT"/>
		<result property="MENU" column="MENU"/>
		<result property="ORDER_DATE" column="ORDER_DATE"/>
		<result property="TABLE_NO" column="TABLE_NO"/>
		<result property="TOTAL_PRICE" column="TOTAL_PRICE"/>
		<result property="PRICE" column="PRICE"/>
	</resultMap> 
	
	<insert id="insertZeroOrder" parameterType="java.util.List">
		INSERT INTO JUMUN(ORDER_PRI, ORDER_NO, AMOUNT, MENU2, ORDER_DATE, TABLE_NO, PAY_YN, TOTAL_PRICE)
		VALUES
		<foreach collection="list" item="o" separator=" , ">
			(SEQ_ORDER.NEXTVAL, "${o.ORDER_NO}", "${o.AMOUNT}", "${o.MENU2}", "${o.ORDER_DATE}", "${o.TABLE_NO}", 'N', 1000 )
		</foreach>
		
	</insert>

</mapper>
