<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<!-- 주문 합계 불러오기 -->
	<!-- <select id="selectOrderTotalList" resultMap="selectOrderTotal">
		SELECT TABLE_NO, SUM(PRICE * AMOUNT) AS PRICE
		FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		GROUP BY TABLE_NO, J.TABLE_NO
		ORDER BY TABLE_NO
	</select> -->
	<select id="selectOrderTotalList" resultType="OrderTotalPrice">
		SELECT TABLE_NO, TOTAL_PRICE
        FROM MAINTABLE
	</select>
	<resultMap type="OrderMenu" id="selectOrderTotal" >
		<id property="ORDER_NO" column="ORDER_NO"/>
		<result property="MENU" column="MENU"/>
		<result property="AMOUNT" column="AMOUNT"/>
		<result property="ORDER_DATE" column="ORDER_DATE"/>
		<result property="TABLE_NO" column="TABLE_NO"/>
		<result property="PAY_YN" column="PAY_YN"/>
		<result property="PRICE" column="PRICE"/>
	</resultMap>
	
	<!-- 메뉴리스트 불러오기 -->
	
	<!-- 주류제외  -->
	<select id="menuList" resultType="MENU">
		SELECT MENU, PRICE, CATEGORY
		FROM MENU
		WHERE CATEGORY NOT IN('주류/음료') AND MENU_YN = 'Y'
		ORDER BY 1
	</select>
	<!-- 주류  -->
	<select id="drinkList" resultType="MENU">
		SELECT MENU, PRICE, CATEGORY
		FROM MENU
		WHERE CATEGORY IN('주류/음료') AND MENU_YN = 'Y'
		ORDER BY 1
	</select>
	
	<!-- 주문 목록 불러오기 -->
	<select id="orderList" parameterType="string" resultMap="orderMenuList">
		
        
        SELECT TABLE_NO, MAX(ORDER_DATE) AS ORDER_DATE, J.MENU AS MENU , SUM(AMOUNT) AS AMOUNT, SUM(PRICE * AMOUNT) AS PRICE, M.PRICE AS MENUPRICE 
        FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		WHERE TABLE_NO =  #{tableNo}  AND PAY_YN = 'N'
        GROUP BY TABLE_NO, J.MENU, M.PRICE
		<!--
		 SELECT TABLE_NO, MAX(ORDER_DATE) AS ORDER_DATE, J.MENU AS MENU , SUM(AMOUNT) AS AMOUNT, SUM(PRICE * AMOUNT) AS PRICE, 
        FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		WHERE TABLE_NO = #{tableNo}   AND PAY_YN = 'N'
        GROUP BY TABLE_NO, J.MENU
        
		SELECT TABLE_NO, ORDER_DATE, J.MENU, SUM(AMOUNT) AS AMOUNT, SUM(PRICE * AMOUNT) AS PRICE
		FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		WHERE TABLE_NO =  #{tableNo}  AND PAY_YN = 'N'
		GROUP BY TABLE_NO, ORDER_DATE, J.MENU
		-->
		<!-- 
		SELECT ORDER_NO, AMOUNT, M.MENU, ORDER_DATE, TABLE_NO, PRICE * AMOUNT AS PRICE
		FROM JUMUN J 
        LEFT JOIN MENU M ON (J.MENU = M.MENU)
		WHERE TABLE_NO = #{tableNo}  AND PAY_YN = 'N'
		 -->
	</select>
	<resultMap type="OrderMenu" id="orderMenuList">
		<result property="ORDER_NO" column="ORDER_NO"/>
		<result property="AMOUNT" column="AMOUNT"/>
		<result property="MENU" column="MENU"/>
		<result property="ORDER_DATE" column="ORDER_DATE"/>
		<result property="TABLE_NO" column="TABLE_NO"/>
		<result property="PAY_YN" column="PAY_YN"/>
		<result property="PRICE" column="PRICE"/>
		<result property="MENU_YN" column="MENU_YN"/>
		<result property="CATEGORY" column="CATEGORY"/>
		<result property="MENUPRICE" column="MENUPRICE"/>
	</resultMap> 
	
	<!-- 주문 목록 delete  -->
	<delete id="deleteOrderList" parameterType="string">
		DELETE JUMUN WHERE TABLE_NO =  #{tableNo} AND PAY_YN ='N'
	</delete>
	
	<!-- 주문 목록 insert -->
	<insert id="insertOrderList" parameterType="java.util.List">
		INSERT INTO JUMUN(ORDER_NO, MENU, AMOUNT, ORDER_DATE, TABLE_NO, PAY_YN)
		SELECT SEQ_JUMUN.NEXTVAL , J.*
		FROM (
		<foreach collection="list" item="item" index="ix" separator="UNION ALL">
			SELECT #{item.MENU} AS MENU , #{item.AMOUNT} AS AMOUNT , SYSDATE AS ORDER_DATE , #{item.TABLE_NO} AS TABLE_NO, 'N'
			FROM DUAL 
		</foreach>
		)J
	</insert>
	
	<update id="updateTotalPrice" parameterType="OrderTotalPrice">
		UPDATE MAINTABLE SET TOTAL_PRICE = #{TOTAL_PRICE} WHERE TABLE_NO = #{TABLE_NO}
	</update>
	
	<!-- 상원 payment용 -->
	<select id="selectPaymentPrice" parameterType="_int" resultMap="selectTotalPrice">
		SELECT TABLE_NO, SUM(PRICE * AMOUNT) AS PRICE
		FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		WHERE TABLE_NO = #{tableNo}
		GROUP BY TABLE_NO
	</select>
	<resultMap type="Order" id="selectTotalPrice" >
		<id property="ORDER_NO" column="ORDER_NO"/>
		<result property="MENU" column="MENU"/>
		<result property="AMOUNT" column="AMOUNT"/>
		<result property="ORDER_DATE" column="ORDER_DATE"/>
		<result property="TABLE_NO" column="TABLE_NO"/>
		<result property="PAY_YN" column="PAY_YN"/>
		<result property="PRICE" column="PRICE"/>
	</resultMap>
	<select id="orderList1" parameterType="_int" resultMap="orderMenuList">
		SELECT TABLE_NO, ORDER_DATE, J.MENU, SUM(AMOUNT) AS AMOUNT, SUM(PRICE) AS PRICE
		FROM JUMUN J
		JOIN MENU M ON J.MENU = M.MENU
		WHERE TABLE_NO = #{tableNo} AND PAY_YN = 'N'
		GROUP BY TABLE_NO, ORDER_DATE, J.MENU		
	</select>
</mapper>
