<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
	<properties resource="/driver.properties"/>
	
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>

		<typeAlias type="order.model.vo.Order" alias="Order"/>
		<typeAlias type="order.model.vo.OrderMenu" alias="OrderMenu"/>
		<typeAlias type="order.model.vo.OrderTotalPrice" alias="OrderTotalPrice"/>
		<typeAlias type="menu.model.vo.Menu" alias="MENU"/>
		<typeAlias type="salesTotal.model.vo.SalesTotalPrice" alias="SalesTotalPrice"/>
		<typeAlias type="salesTotal.model.vo.SalesTotalMenu" alias="SalesTotalMenu"/>
		<typeAlias type="payment.model.vo.Bill" alias="Bill"/>
		<typeAlias type="payment.model.vo.Payment" alias="Payment"/>

	</typeAliases>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
			<mapper resource="/mapper/order-mapper.xml"/>
			<mapper resource="/mapper/sales-mapper.xml"/>
			<mapper resource="/mappers/member-mapper.xml"/>
			<mapper resource="/mapper/payment_mapper.xml"/>
			<mapper resource="/mappers/menu-mapper.xml"/>
	</mappers>
</configuration>
